export(prereq_index)
export(direction)
export(perm_pvalue)
export(baseline_mean)
export(bh_fdr)
export(find_cycles)
export(transitive_reduction)
export(condense)
export(prereq_scan)
export(read_fixture)
export(read_perm_indices)
export(DELTA)
export(TOP_Q)
export(MIN_INTERIOR)
export(DENSE_MAX_N)
export(admissibility)
export(interior_q)
export(prereq_index_family)
export(pi_envelope)
export(uniform_reference)
export(beta_reference)
export(point_mass_reference)
export(attaining_reference)
